body {
  background-color: #fff;
  color: #333;
  margin: 0;
  font: 1.2em / 1.2 Arial, Helvetica, sans-serif;
}

img {
  max-width: 100%;
  display: block;
}

.logo {
  font-size: 200%;
  text-align: center;
  padding: 20px 0;
  background: rgb(193, 207, 230);
}

main {
  max-width: 1200px;
  min-width: 800px;

  margin: 0 auto;

  padding: 10px;

  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
}

main aside {
  padding-left: 20px;
  border-left: 1px solid #ccc;
}

nav {
  background-color: #000;
  padding: 0.5em;
}

nav ul {
  padding: 0;

  min-width: 800px;
  max-width: 1200px;
  margin: 0 auto;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
}

nav a:hover {
  color: hsl(204, 100%, 87%);
  text-decoration: underline;
}

.photos {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.photos li {
  flex: 100px 0;
  margin: 5px;
}

.feature {
  width: 200px;
  float: left;
  margin: 0 20px 20px 0;
}
