body {
  background-color: #fff;
  color: #333;
  margin: 0;
  font: 1.2em / 1.2 Arial, Helvetica, sans-serif;
}

img {
  max-width: 100%;
  display: block;
}

.logo {
  font-size: 200%;
  text-align: center;
  padding: 20px 0;
  background: rgb(193, 207, 230);
}

main {
  margin: 0 auto;
}

main article {
  flex: 500px 1;
  padding: 10px;
}

main aside {
  padding: 10px;
  flex: 225px 0;
}

/* Hamburger menu start */
#menu-toggle {
  display: none;
}

.menu-button {
  display: block;
  color: white;
  padding: 5px 0;
}

.menu-button img {
  filter: invert(100%);
  width: 30px;
  height: 30px;
}

.menu-body {
  display: none;
}

/* + is "immediately follows" */
#menu-toggle:checked + .menu-button-container img {
  margin-top: 0px;
  transform: rotate(90deg);
}

/* ~ is "later sibling of" */
#menu-toggle:checked ~ .menu-body {
  display: block;
}
/* Hamburger menu end */

nav {
  background-color: #000;
  padding: 0.5em;
  top: 0;
  position: sticky;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  margin-bottom: 0.5em;
}

nav a {
  color: #fff;
  text-decoration: none;
}

nav a:hover {
  color: hsl(204, 100%, 87%);
  text-decoration: underline;
}

.feature {
  max-width: 80%;
  margin: 10px auto;
}

.photos {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.photos li {
  flex: 100px 0;
  margin-bottom: 10px;
}

@media (min-width: 800px) {
  /* only apply these rules if screen width >= 800 */

  .menu-button-container {
    display: none;
  }

  .menu-body {
    display: block;
  }

  nav ul li {
    margin-right: 20px;
    margin-bottom: 0;
    display: inline-block;
  }

  nav ul {
    padding: 0;
    display: inline-block;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

    margin: 0 auto;
    max-width: 1200px;
    min-width: 800px;
  }

  main {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
  }

  main article {
    flex: 500px 1;
    margin-right: 40px;
    padding: 0.5em;
  }

  main aside {
    padding: 0.5em;
    flex: 225px 0;
  }

  .feature {
    max-width: 300px;
    float: left;
    margin: 0 20px 10px 0;
  }
}
