/* General styles */

body {
  font-size: larger;
}

hr {
  width: 80%;
  margin: 50px auto;
}

/* Color example */

/* equivalent to the red keyword */
#color p:nth-child(1) {
  background-color: red;
  background-color: #ff0000;
  background-color: rgb(255, 0, 0);
}

/* equivalent to the blue keyword */
#color p:nth-child(2) {
  background-color: rgba(0, 0, 255, 0.5);
}

/* Simple size/length example */

#relative-text-size p,
#absolute-text-size p {
  margin: 5px;
  padding: 10px;
  border: 2px solid black;
  background-color: cyan;
}

#absolute-text-size p:nth-child(1) {
  width: 150px;
  font-size: 16px;
}

#absolute-text-size p:nth-child(2) {
  width: 250px;
  font-size: 20pt;
}

#absolute-text-size p:nth-child(3) {
  width: 350px;
  font-size: 36pt;
}

#relative-text-size p:nth-child(1) {
  width: 5em;
  font-size: 1.25em;
}

#relative-text-size p:nth-child(2) {
  width: 7em;
  font-size: 1.5em;
}

#relative-text-size p:nth-child(3) {
  width: 10em;
  font-size: 3em;
}

.big {
  font-size: 150%;
}

/* length playground for live sample */

#length-playground .outer {
  width: 550px;
  background-color: red;
}

#length-playground .inner {
  width: 80%;
  height: 200px;
  background-color: blue;
}
