/* spacing */

table {
  border-collapse: collapse;
  border: 3px solid purple;
}

/* target the first col using the colgroup */
table .bandcol {
  border-right: 5px solid black;
}

/* target second and third cols using nth-child */
td:nth-child(2),
td:nth-child(3) {
  text-align: center;
  font-style: italic;
}

th,
td {
  padding: 20px;
  border: 1px solid purple;
}

thead,
tfoot {
  background-color: #ff33cc;
  color: white;
  font-size: 1.2em;
}

thead {
  border-bottom: 3px solid purple;
}

tfoot {
  border-top: 3px solid purple;
}

tbody tr:nth-child(odd) {
  background-color: #ff83e0;
}

tbody tr:nth-child(even) {
  background-color: #ffffff;
}
