<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="utf-8" />
    <title>Error</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
    <h1><%= message %></h1>
    <h2><%= status %></h2>
    <pre><%= stack %></pre>
</body>

</html>