<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <form method="post" enctype="multipart/form-data" >
      <input type="file">
      <br>
      <br>
      <input type="submit">
    </form>

  </body>
</html>
