body {
  background-color: #fff;
  color: #333;
  margin: 0;
  font: 1.2em / 1.2 Arial, Helvetica, sans-serif;
  box-sizing: border-box; 
}

img {
  max-width: 100%;
  display: block;
}

.logo {
  background: rgb(185, 209, 236);
  text-align: center;
  font-size: 200%;
  padding: 50px 20px;
  margin: 0 auto;
}

main {
  max-width: 1200px;
  box-sizing: border-box; 
  padding: 0 20px;
  margin: 0 auto;
}

main aside {
  width: 200px;
  padding-top: 10px;
  margin-left: 10px;
  float: right;
}

nav {
  background-color: #000;
  top: 0;
  position: sticky;
}

nav ul {
  margin: 0 auto;
  padding: 0;
  max-width: 1200px;
  box-sizing: border-box; 
  padding: 10px 20px;
  list-style: none;
}

nav ul li {
  margin-right: 20px;
  display: inline-block;
}

nav a {
  color: rgb(227, 237, 248);
  text-decoration: none;
}

nav a:hover {
  color: white;
  text-decoration: underline;
}

.photos {
  list-style: none;
  margin: 0;
  padding: 0;
}

.photos li {
  margin: 5px;
  display: inline-block;
}

.photos img {
  margin: 5px;
  width: 75px;
}

.feature {
  width: 200px;
  float: left;
  margin: 0 20px 20px 0;
}=