body {
  background-color: #fff;
  color: #333;
  margin: 0;
  font: 1.2em / 1.2 Arial, Helvetica, sans-serif;
}

img {
  max-width: 100%;
  display: block;
}

.logo {
  font-size: 200%;
  padding: 50px 20px;
  margin: 0 auto;
  max-width: 980px;
}

main {
  max-width: 1200px;
  min-width: 800px;
  margin: 0 auto;
  display: flex;
}

main article {
  flex: 500px 1;
  margin-right: 40px;
  padding: 10px;
}

main aside {
  padding-top: 10px;
  flex: 225px 0;
}
nav {
  background-color: #000;
  padding: 0.5em;
  top: 0;
  position: sticky;
}

nav ul {
  margin: 0 auto;
  padding: 0;
  max-width: 1200px;
  list-style: none;
  display: flex;
  justify-content: flex-start;
}

nav ul li {
  margin-right: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
}

.photos {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.photos li {
  flex: 100px 0;
  margin: 5px;
}

.feature {
  width: 200px;
  float: left;
  margin: 0 20px 20px 0;
}
