body {
  padding: 0 2em;
  font: 1em "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.alert {
  border: 1px solid #f00;
  background-color: rgba(255, 0, 0, 0.2);
  padding: 5px;
}
